.section-title {
  font-style: normal;
  font-weight: inherit;
  line-height: 1;
}

//h1.section-title  {
//  font-size: 30px;
//  font-weight: 500;
//}
//
//h2.section-title  {
//  font-size: 20px;
//  font-weight: 500;
//}
//
//h3.section-title  {
//  font-size: 18px;
//}
//
//h4.section-title  {
//  font-size: 16px;
//}
//
//h5.section-title  {
//  font-size: 14px;
//}
//
//h6.section-title  {
//  font-size: 12px;
//}
