@use 'assets/scss/variables/colors.scss' as *;
@use 'assets/scss/variables/base.scss' as *;
@use 'assets/scss/variables/media-breakpoints' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    max-width: 1200px;
    grid-gap: 10px;
    padding: 0 24px;
  }

  &__head {
    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-icon {
      width: 30px;
      height: 30px;
      padding: 5px;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &__logo {
    width: 107px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      width: 81px;
      height: 52px;
    }
  }

  &__nav {
    @include media-breakpoint-down(md) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      grid-gap: 24px;
    }

    &-item {
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-link {
      transition: color ease $transition-duration;
      cursor: pointer;

      &:hover {
        color: $main;
      }
    }
  }

  &__action {
    width: 255px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
